{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        
            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
        
            <h1 class="h3 mb-3 font-weight-normal text-center">Inicio de sesión</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
                required>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            {# <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button> #}
        
        
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    {# <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Recordarme </label>
                    </div> #}
                </div>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>
        
            <!-- Register buttons -->
            <div class="text-center">
                <p>¿No tienes cuenta ? <a href="{{ path('app_register') }}">Registrate </a></p>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>

</div>


{% endblock %}
