{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 

  


    <!-- Section: Design Block -->
    <section class="">

        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">

                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <h1>Registro</h1>
                                {{ form_errors(registrationForm) }}
                                
                                {{ form_start(registrationForm) }}

                                {{ form_row(registrationForm.email) }}
                                
                                {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                                }) }}
                                {{ form_row(registrationForm.agreeTerms) }}
                                
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                {{ form_end(registrationForm) }}
                                <br>
                                <div class="text-center">
                                    <p>Ya tienes cuenta ? <a href="{{ path('app_login') }}">Log-in </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
{% endblock %}


