{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}


<div class="example-wrapper">

<div class="container">
    <header style="background-color: #ededed;"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <h1>Eventos lista</h1>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ path('app_home') }}" class="nav-link px-4 ">Home <i
                        class="bi bi-house"></i></a></li>
            <li><a href="{{ path('Evento_tabla') }}" class="nav-link px-4 link-secondary">Eventos <i
                        class="bi bi-ticket-detailed-fill"></i></a></li>
            <li><a href="{{ path('User_tabla') }}" class="nav-link px-4">Usuarios <i
                        class="bi bi-people-fill"></i></a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger">
                    Cerrar sesión
                    <i class="bi bi-power"></i></button></a>
        </div>
    </header>
</div>
<br>
    
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
<div class="count">
    Total: {{ pagination.getTotalItemCount }} eventos
</div>
        <table class="table table-striped">
            <tr>
                {# sorting of properties based on query components #}
                <th>No</th>
                <th>Evento</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Tipo evento</th>
                <th>Categoria</th>
                <th>Usuario creacion</th>
                <th>Editar/Borrar</th>
            </tr>
        
            {# table body #}
            {% for article in pagination %}
            <tr >
                <td>{{loop.index}}.-</td>
                <td>{{ article.Nombre }}</td>
                <td>{{ article.Descripcion }}</td>
                <td>{{ article.Fecha }}</td>
                <td>{{ article.Precio}}</td>
                <td>{{ article.IdTipoEvento }}</td>       
                <td>{{ article.IdCategoria }}</td>
                <td>{{ article.email }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('Evento_actualizar',{'id': article.id} ) }}"><i class="bi bi-pencil-fill"></i></a> 
                        <a href="{{ path('Evento_borrar',{'id': article.id} ) }}"> <i class="bi bi-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <div class="col-md-2">
        {% if is_granted('ROLE_ADMIN') %}
            <center><a href="{{ path('Evento_alta') }}"> Añadir evento <i class="bi bi-plus-circle-fill"></i></a></center>
        {% endif %}       
    </div>

</div>
    {# total items count #}
    


    <br>

</div>
{% endblock %}