{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}

<div class="example-wrapper">
    
<div class="container">
    <header style="background-color: #ededed;"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
                <h1>Eventos {{ tipo }}</h1>           
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ path('app_home') }}" class="nav-link px-4 ">Home <i class="bi bi-house"></i></a></li>
            <li><a href="{{ path('Evento_tabla') }}" class="nav-link px-4 link-secondary">Eventos <i
                        class="bi bi-ticket-detailed-fill"></i></a></li>
            <li><a href="{{ path('User_tabla') }}" class="nav-link px-4">Usuarios <i
                        class="bi bi-people-fill"></i></a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger">
                    Cerrar sesión
                    <i class="bi bi-power"></i></button></a>
        </div>
    </header>
</div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 " >
            {{ form(form) }}
        </div>
        <div class="col-md-3"></div>

    </div>

    <br>
    
</div>
{% endblock %}