{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}


<div class="example-wrapper">

    <div class="container">
        <header style="background-color: #ededed;"
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <h1>Usuarios lista</h1>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('app_home') }}" class="nav-link px-4 ">Home <i class="bi bi-house"></i></a></li>
                <li><a href="{{ path('Evento_tabla') }}" class="nav-link px-4 link-secondary">Eventos <i
                            class="bi bi-ticket-detailed-fill"></i></a></li>
                <li><a href="{{ path('User_tabla') }}" class="nav-link px-4">Usuarios <i
                            class="bi bi-people-fill"></i></a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger">
                        Cerrar sesión
                        <i class="bi bi-power"></i></button></a>
            </div>
        </header>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="count">
                Total: {{ pagination.getTotalItemCount }} usuarios
            </div>
            <table class="table table-striped">
                <tr>
                    {# sorting of properties based on query components #}
                    <th>No</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Roles</th>
                    <th>Acciones</th>
                </tr>

                {# table body #}
                {% for article in pagination %}
                <tr>
                    <td>{{loop.index}}.-</td>
                    <td>{{ article.id }}</td>
                    <td>{{ article.email }}</td>
                    <td>{% for rol in article.roles %} {{ rol}}  {% endfor %} </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('User_borrar',{'id': article.id} ) }}"> <i class="bi bi-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-2">
        </div>

    </div>
    {# total items count #}
    <br>

</div>
{% endblock %}